node_modules/
.npm/
.pnpm-store/

.svelte-kit/
build/
dist/
/apps/home/public/
.vercel/
!apps/packager/src/build/
!apps/packager/src/build/**

coverage/
.webpack/

package-lock.json
pnpm-lock.yaml
yarn.lock

.vercel
