@import "../../css/colors.css";

.modal-content {
    width: 440px;
    margin-top: 25px;
}

.body {
    background: linear-gradient(180deg, #f5fff1 0%, #ebf9e6 100%);
    padding: 1rem 1.5rem;
}
[theme="dark"] .body {
    color: $text-primary;
    background: #143116;
}

.body p {
    margin: 8px 0;
}

.buttons {
    display: flex;
}
.buttons :disabled {
    opacity: 0.8;
}
.deny-button, .allow-button {
    flex-grow: 1;
    font: inherit;
    color: inherit;
    padding: 0.75rem 1rem;
    border-radius: 0.35rem;
    border: 1px solid rgba(16, 82, 20, 0.18);
    font-weight: 600;
    font-size: 0.85rem;
}
.deny-button {
    background-color: #1e951f;
    color: white;
    margin-right: 8px;
}
.allow-button {
    background-color: #27bf24;
    color: white;
}
